<table class="table table-bordered">
    <thead class="alert-success">
        <tr>
            <th>name</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in readd %}
        <tr>
            <td>{{ i.category }}</td>
            <td>{{ i.product_name}}</td>

            <td><center>
                <a class="btn btn-warning edit" name="{{ i.id }}">Edit</a>
                <a class="btn btn-danger delete" name="{{ i.id }}">Delete</a></center>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>