<table class="table table-bordered">
    <thead class="alert-success">
        <tr>
            <th>name</th>
            <th>Edit</th>
            <th>Enable/disable</th>

           
        </tr>
    </thead>
    <tbody>
        {% for i in read %}
        <tr>
            <td>{{ i.name }}</td>

          <td><center>
                 {% comment %} <a class="btn btn-warning edit" name="{{ i.id }}" >Edit</a></td> {% endcomment %}

                {% comment %} <button class="btn btn-warning" class="btn btn-primary" id= {{ i.id }} data-toggle="modal" data-target="#exampleModal1">
                  edit1
                </button>           {% endcomment %}


               
              <td align="center">
                <button class="btn btn-success form-control" onclick="edit_row({{ i.id }})" data-toggle="modal" data-target="edit-modal">Edit</button>
            </td>
            

                            
                             
                                                                         
              
                <div class="modal" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                     
                        {% comment %} modal  {% endcomment %}

                        {% comment %} <form> 
                          {% csrf_token %}
                          <input type="hidden" id="member_id" value="{{ i.id }}"/>
                          <div class="mb-3">
                              <label>name</label>
                              <input type="text" id="name" value="{{ i.name }}" class="form-control" required="required"/>
                          </div>
                  
                          <div class="mb-3">
                              <button type="button" id="update" class="btn btn-warning">Update</button>
                          </div>
                      </form>  {% endcomment %}

                      <form id="edit-form" method='post'>
                        {% csrf_token %}

                        <input type="hidden" name="pk" id="pk">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name">
                        
                        <button type="button" class="btn btn-primary" onclick="updateRow()">Save changes</button>
                        
                      </form>


                 {% comment %} modal_end {% endcomment %}
                        </form>
                      </div>
                      
                    </div>
                  </div>
              </div>
              
             
              
          </form>
               
                <td  class="text-center">


                    <button class="toggle-active-btn" data-category-id="{{ i.id }}" data-csrf-token="{{ csrf_token }}">
                        {% if i.is_active %}
                         Disable
                        {% else %}
                         Enable
                        {% endif %}
                      </button>
                      
                      
                        
                        
                        
                        
                        
                        
                        
                    
                    
                </td>

                


               


                {% comment %} <a class="btn btn-danger delete" name="{{ i.id }}">Delete</a></center> {% endcomment %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% comment %} #modal# {% endcomment %}

